.id-fields-wrapper {
  clear: both;
}

.id-fields-wrapper > div {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.id-fields-wrapper div:first-child {
  margin-left: 0;
}

.user-permission-form > div {
  clear: both;
}
